# Object file
*.o

recentf

url/
semanticdb/
eshell/
auto-save-list/
/elpa/archives/
ac-comphist.dat
gnupg/
var/
.python-enviroment/
custom.el
jdee-server/

abbrev_defs
ede-projects.el
srecode-map.el
eww-bookmarks

# ecb files
init.el.before_ecb_2.50
init.el.before_ecb_2.50__1

elpa/

# vim .log files
*.log

# projectile files
projectile*
