# Object file
*.o

*recentf
*recentf~
eww-bookmarks

url/
semanticdb/
eshell/
auto-save-list/
/elpa/archives/
ac-comphist.dat
gnupg/
var/
.python-enviroment/
.cache
custom.el
userconfig
jdee-server/

abbrev_defs
ede-projects.el
srecode-map.el
eww-bookmarks
places

# ecb files
init.el.before_ecb_2.50
init.el.before_ecb_2.50__1

# projectile files
projectile*

elpa/

# vim .log files
*.log

# projectile files
projectile*
#
# senssion files 
session.*
*lsp-session*

tramp
transient

gmon.out

org-roam.db

savehist