;; -*- mode: emacs-lisp -*-

(setq
 ;; configs for Emacs variables which defined by user

 ;; user/custom-file
 ;; user/recentf-save-file
 ;; user/save-place-file

 ;; user/notes-dir
 user/package-mirror emacs-china-package-mirror

 ;; user/lsp-client

 ;; font
 ;; user/default-font '("Source Code Pro"
 ;;                     :size 15
 ;;                     :weight normal
 ;;                     :width normal)
 )

