;; -*- mode: emacs-lisp -*-

(setq
 ;; configs for Emacs variables which defined by user

 ;; user/custom-file
 ;; user/recentf-save-file
 ;; user/save-place-file

 ;; user/notes-dir
 ;; user/package-mirror

 ;; user/lsp-client
 )

